body {
  margin: 0;
  font-family: 'Narnoor', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #1495db;
}

code {
  font-family: 'Narnoor', serif;
}
